body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
}

.secao {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}

p {
    font-size: 16px;
    color: #555;
}